* {
  box-sizing: border-box;
}
body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
}

header {
  padding: 40px;
  text-align: center;
}

td {
  width: 50%;
  padding: 10px;
}

table {
  display: inline-block;
  float: left;
  border: 1px solid black;
  width: 100%;
}

section {
  width: 100%;
  height: auto;
}

article {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.user-form {
  background-color: red;
}

.render-zipinfo {
  background-color: blue;
}

.submit {
  background-color: yellow;
}

.user-info {
  background-color: magenta;
}
