* {
  box-sizing: border-box;
}
body {
  margin: 5%;
  padding: 0;
  font-family: sans-serif;
}
html {
  background-color: #E0E0E0;
  color: #000033;
}

td {
  width: 50%;
  padding: 10px;
}

table {
  display: inline-block;
  float: left;
  border: 1px solid #D0D0D0;
  width: 100%;
  font-size: 100%;
  font-family: 'Karla', sans-serif;
  padding: 5%;
  text-shadow: .25px .25px white;
}

section {
  width: 100%;
  height: auto;
}

article {
  width: 50%;
  display: inline-block;
}

.input-box {
  width: 100%;
}
/*font-family: 'Abril Fatface', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Overlock', cursive;
font-family: 'Yeseva One', cursive;
font-family: 'Lemon', cursive;
font-family: 'Mogra', cursive;
font-family: 'Overlock SC', cursive;
font-family: 'Kumar One Outline', cursive;
font-family: 'Noto Sans', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Signika', sans-serif;*/
.app-logo {
  margin: 0;
  font-size: 50px;
  font-family: 'Kumar One Outline', cursive;
  text-align: center;
  height: 100px;
  margin: 20px;
  padding: 20px;
  border-bottom: .5px solid white;
  text-shadow: 2px 2px 2px #CCFFCC;
  color: #000033;

}

.get-zip {
  border-top: 1px solid #D0D0D0;
  padding-top: 2%;
}

.user-form {
  height: 250px;
  font-size: 100%;
}

.render-zipinfo {
  font-size: 125%;
  height: 250px;
}

.submit {
  height: 250px;
  font-size: 100%;

}

.input-button {
  background-color: white;
  color: #000033;
  border: 2px solid #e7e7e7;
  font-size: 100%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),
  0 6px 20px 0 rgba(0,0,0,0.19);
}

.input-button:hover {
  background-color: #e7e7e7;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24),
  0 17px 50px 0 rgba(0,0,0,0.19);
}

.user-info {
  font-size: 125%;
  height: 250px;
}
